@page "/"
@using IntegraBrasilApi.DTOs
@using IntegraBrasilApi.Web.Services.Interfaces

<PageTitle>Buscas Integra Brasil</PageTitle>

<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <div>
        <h3>Requisições Cep, Banco e CNPJ</h3>
    </div>
</FluentGrid>
<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    @* Consulta CEP *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consulta" OnValidSubmit="@SubmitEndereco">

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Cep:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite o cep" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Cep
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta Banco *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaBanco" OnValidSubmit="@SubmitEndereco">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Banco:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite Código do Banco" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Banco
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta CNPJ *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaCNPJ" OnValidSubmit="@SubmitCnpj">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar CNPJ:" @bind-Value="CnpjId"
                                 Maxlength="14" Minlength="14" Placeholder="Digite o CNPJ" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar CPNJ
            </FluentButton>
        </EditForm>
    </FluentGridItem>
</FluentGrid>

<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <FluentCard Width="1000px" Height="300px">
        @if (!Consultou)
        {
            <p>Aguardando</p>

        }
        else
        {
            @if (MessageError is not null)
            {
                <p>@MessageError</p>
                if (MessageError is not null)
                {
                    MessageError = null;
                }
            }
            else if (SubmeteuEnd)
            {

                <FluentDataGrid Items="Endereco">
                    <PropertyColumn Property="@(p => p.Cep)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Estado)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Cidade)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Regiao)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Rua)" Sortable="true" />
                </FluentDataGrid>

                Consultou = false;
                SubmeteuEnd = false;

            }
            else if (SubmeteuCnpj)
            {
                <FluentDataGrid Items="CnpjList">
                    <PropertyColumn Property="@(p => p.cnpj)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.razao_social)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.nome_fantasia)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.situacao_cadastral)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.cep)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.uf)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.municipio)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.ddd_telefone_1)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.qualificacao_do_responsavel)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.capital_social)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.descricao_porte)" Sortable="true" />

                </FluentDataGrid>
                Consultou = false;
                SubmeteuCnpj = false;
            }

        }
    </FluentCard>
</FluentGrid>


@code {

}