@page "/"
@using IntegraBrasilApi.DTOs
@using IntegraBrasilApi.Web.Services.Interfaces

<PageTitle>Buscas Integra Brasil</PageTitle>

<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <div>
        <h3>Requisições Cep, Banco e CNPJ</h3>
    </div>
</FluentGrid>
<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    @* Consulta CEP *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consulta" OnValidSubmit="@Submit">

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Cep:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite o cep" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Cep
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta Banco *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaBanco" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Banco:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite Código do Banco" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Banco
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta CNPJ *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaCNPJ" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar CNPJ:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite o CNPJ" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar CPNJ
            </FluentButton>
        </EditForm>
    </FluentGridItem>
</FluentGrid>

<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <FluentCard Width="1000px" Height="300px">
        @if (!Consultou)
        {
            <p>Aguardando</p>
            
        }
        else
        {
            @if (MessageError is not null)
            {
                <p>@MessageError</p>
                if(MessageError is not null)
                {
                    MessageError = null;
                }
            }
            else 
            {
               
                <FluentDataGrid Items="Endereco">
                    <PropertyColumn Property="@(p => p.Cep)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Estado)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Cidade)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Regiao)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Rua)" Sortable="true" />
                </FluentDataGrid>

                Consultou = false;

            }
        }
    </FluentCard>
</FluentGrid>


@code {


    [Inject]
    public IEnderecoServiceFWeb? EnderecoService { get; set; }

    [SupplyParameterFromForm]
    public string? Cep { get; set; }

    public IQueryable<EnderecoDto> Endereco { get; set; }

    public EnderecoDto EnderecoDto { get; set; }

    private bool Consultou = false;

    public string? MessageError { get; set; }

    protected override void OnInitialized() => EnderecoDto ??= new();



    private async Task<bool> Submit()
    {
        if (Cep != "" && Cep is not null)
        {
            var endereco = await EnderecoService.endereco(Cep);
            Consultou = true;

            if (endereco.Cep is not null)
            {

                Endereco = new[] { new EnderecoDto(
                endereco.Cep,
                endereco.Estado,
                endereco.Cidade,
                endereco.Regiao,
                endereco.Rua) }.AsQueryable();
            }
            else
            {
                MessageError = "Falha ao consultar Endereço, todos os Fornecedores retornam erro";
            }

        }
        else
        {
            MessageError = "Deve ser passado um cep para fazer a pesquisa";
        }
        return await Task.FromResult(true);

    }
}