@page "/"
@using IntegraBrasilApi.DTOs
@using IntegraBrasilApi.Web.Services.Interfaces

<PageTitle>Buscas Integra Brasil</PageTitle>

<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <div>
        <h3>Requisições Cep, Banco e CNPJ</h3>
    </div>
</FluentGrid>
<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    @* Consulta CEP *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consulta" OnValidSubmit="@SubmitEndereco">

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Cep:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite o cep" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Cep
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta Banco *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaBanco" OnValidSubmit="@SubmitEndereco">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar Banco:" @bind-Value="Cep"
                                 Maxlength="8" Minlength="8" Placeholder="Digite Código do Banco" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar Banco
            </FluentButton>
        </EditForm>
    </FluentGridItem>

    @* Consulta CNPJ *@
    <FluentGridItem xs="6" sm="3">
        <EditForm Model="EnderecoDto" method="post" FormName="consultaCNPJ" OnValidSubmit="@SubmitCnpj">
            <DataAnnotationsValidator />

            <div class="form-group">
                <FluentTextField Appearance="FluentInputAppearance.Filled"
                                 Label="Consultar CNPJ:" @bind-Value="CnpjId"
                                 Maxlength="14" Minlength="14" Placeholder="Digite o CNPJ" />
            </div>
            <FluentButton IconStart="@(new Icons.Regular.Size16.Globe())"
                          Appearance="Appearance.Accent" Type="ButtonType.Submit">
                Consultar CPNJ
            </FluentButton>
        </EditForm>
    </FluentGridItem>
</FluentGrid>


<FluentGrid Spacing="3" Justify="JustifyContent.Center" Style="margin-top:50px">
    <FluentCard Width="1000px" Height="300px">
        @if (!Consultou)
        {
            <p>Aguardando</p>             
        }
        else
        {
            @if (MessageError is not null)
            {
                <p>@MessageError</p>
                if (MessageError is not null)
                {
                    MessageError = null;
                }
            }
            else if (SubmeteuEnd)
            {

                <FluentDataGrid Items="Endereco">
                    <PropertyColumn Property="@(p => p.cep)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.state)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.city)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.neighborhood)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.street)" Sortable="true" />
                </FluentDataGrid>

                Consultou = false;
                SubmeteuEnd = false;

            }
            else if (SubmeteuCnpj)
            {
                <h4>Razão Social</h4>
                <FluentTextArea @bind-Value=CnpjDto.razao_social style="width: 98%; height:15%" Appearance="FluentInputAppearance.Filled" ReadOnly="true"></FluentTextArea>
                <FluentTextArea @bind-Value=CnpjDto.cnpj style="width: 49%; height:25% " Appearance="FluentInputAppearance.Filled" ReadOnly="true"> CNPJ</FluentTextArea>
                <FluentTextArea @bind-Value=CnpjDto.nome_fantasia style="width: 49%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Nome Fantasia</FluentTextArea>
                <FluentNumberField @bind-Value=CnpjDto.cep style="width: 20%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Cep</FluentNumberField>
                <FluentTextArea @bind-Value=CnpjDto.uf style="width: 20%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">UF</FluentTextArea>
                <FluentTextArea @bind-Value=CnpjDto.municipio style="width: 58%; height:26%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Municipio</FluentTextArea>
                <FluentTextArea @bind-Value=CnpjDto.ddd_telefone_1 style="width: 20%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Telefone</FluentTextArea>
                <FluentNumberField @bind-Value=CnpjDto.capital_social style="width: 20%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Capital Social</FluentNumberField>
                <FluentTextArea @bind-Value=CnpjDto.descricao_porte style="width: 58%; height:25%" Appearance="FluentInputAppearance.Filled" ReadOnly="true">Porte</FluentTextArea>
               
                Consultou = false;
                SubmeteuCnpj = false;
            }
        }
    </FluentCard>
</FluentGrid>


@code {

}